In [3]:
class Solution(object):
    def subarraySum(self, nums, k):
        """
        :type nums: List[int]
        :type k: int
        :rtype: int
        """
        count = 0
        sums = 0
        d = dict()
        d[0] = 1
        
        sum_arr = [0 for _ in range(len(nums)+1)]
        
        for ind in range(1,len(nums)+1):
            sum_arr[ind] = sum_arr[ind-1]+nums[ind-1]
        
        print (sum_arr)
        
        for i in range(len(nums)):
            sums += nums[i]
            
            count += d.get(sums-k,0)
            d[sums] = d.get(sums,0) + 1
            
            print (sums,d)
        
        return(count)

In [4]:
s = Solution()
s.subarraySum([1,1,1],2)

[0, 1, 2, 3]
1 {0: 1, 1: 1}
2 {0: 1, 1: 1, 2: 1}
3 {0: 1, 1: 1, 2: 1, 3: 1}

2

In [42]:
c = '101111122222222222222222222222333333333333333333333333333444444444444444444444444444444444'
d = '122'

In [45]:
%time
print (set(c))
d = {}
for val in set(c):
    
    tot_count = c.count(val)
    d[val] = tot_count
    print (tot_count)

CPU times: user 6 µs, sys: 2 µs, total: 8 µs
Wall time: 14.1 µs
{'1', '4', '3', '2', '0'}
6
33
27
23
1

In [46]:
d

{'1': 6, '4': 33, '3': 27, '2': 23, '0': 1}

In [71]:
e = sorted(d,key=d.get,reverse=True)

In [78]:
d = [1,2,3,4,4,5,6,7,78,77,90,99,'45']

In [79]:
def yieldListData(d,l):
    for i in range(0,len(d),l):
        yield d[i:i+l]

In [80]:
for k in yieldListData(d,2):
    print (k,type(k))

[1, 2] <class 'list'>
[3, 4] <class 'list'>
[4, 5] <class 'list'>
[6, 7] <class 'list'>
[78, 77] <class 'list'>
[90, 99] <class 'list'>
['45'] <class 'list'>

In [81]:
if "df" != 0:
    print(1)

1

In [82]:
s= "ababcbacadefegdehijhklij"

In [83]:
h_m = {}

In [84]:
for i,c in enumerate(s):
    if h_m.get(c,0)==0:
        h_m[c]=[i]
    else:
        h_m[c].append(i)

In [85]:
h_m

{'a': [0, 2, 6, 8],
 'b': [1, 3, 5],
 'c': [4, 7],
 'd': [9, 14],
 'e': [10, 12, 15],
 'f': [11],
 'g': [13],
 'h': [16, 19],
 'i': [17, 22],
 'j': [18, 23],
 'k': [20],
 'l': [21]}

In [88]:
a = "2323223"

In [92]:
"".join(sorted(a))

'2222333'

In [90]:
a

'2323223'

In [91]:
a.sort()

AttributeError: 'str' object has no attribute 'sort'

In [93]:
ord("143")-ord("0")

TypeError: ord() expected a character, but string of length 3 found

In [94]:
ord("1")

49

In [121]:
class Solution:
    def returnCount(self,s,substr):
        count = 0
        for itr in range(0,len(s)-9):
            if s[itr:itr+10] == substr:
                count += 1
                if count > 1:
                    return True
        return False
    
    def findRepeatedDnaSequences(self,s):
        substr = []
        out = set()
        print (len(s))
        for itr in range(0,len(s)-9):
            substr.append(s[itr:itr+10])
        
        for sub_str in substr:
            if self.returnCount(s,sub_str):
                out.add(sub_str)
        return list(out)

CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 3.58 µs

In [123]:
%time
s = Solution()
s.findRepeatedDnaSequences(s="AAAAACCCCCAAAAACCCCCCAAAAAGGGTTT")

CPU times: user 5 µs, sys: 3 µs, total: 8 µs
Wall time: 13.4 µs
32

['AAAAACCCCC', 'CCCCCAAAAA']

In [146]:
import re
def palindrome(s, o):
    return re.sub("[ ,.;:?!]", "", s.lower()) == re.sub("[ ,.;:?!]", "", o.lower())[::-1]

In [147]:
%time
palindrome("aba","abaa")

CPU times: user 5 µs, sys: 3 µs, total: 8 µs
Wall time: 14.1 µs

False

In [148]:
def palindrome(s,o):
    return s == o[::-1]

In [149]:
s= "123"